*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul,
li,
ol {
    list-style: none;
}

button {
    font-family: 'Poppins', sans-serif;
}

.section-one {
    background: linear-gradient(260deg, rgb(235, 149, 128) 10%, rgb(41, 41, 233), rgb(64, 64, 241), rgb(64, 64, 224), rgb(39, 39, 243), rgb(168, 173, 255));
}

.top-navigation {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    color: white;
}

.top-navigation h1 {
    padding-top: 24px;
    font-weight: 500;
    font-size: 30px;
}

.fa-angle-down {
    font-size: 12px;
}

.nav-list {
    display: flex;
    padding-top: 17px;
}

.nav-list li {
    padding: 1em;
}

.signings {
    display: flex;
    padding: 1em;
}

.button-separator {
    border: 1px solid rgb(182, 180, 180);
    height: 10px;
    margin-left: 5px;
    margin-top: 21px;
}

.sign-in {
    border: none;
    padding: 10px;
    background: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.fa-right-to-bracket {
    color: white;
    background: black;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid black;
}

.sign-up {
    border: none;
    background: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.front-page {
    display: flex;
    gap: 2em;
}

.introduction-card {
    padding: 2em 5em;
    padding-left: 14em;
}

.introduction-card h1 {
    color: white;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    line-height: 80px;
}

.yellow-text {
    color: yellow;
}

.introduction-card p {
    color: rgb(226, 225, 225);
    padding: 2em 0;
    line-height: 2em;
}

.free-start {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 24px;
    border: none;
    background: white;
    color: black;
    position: relative;
    margin-right: 20px;
}

.fa-check {
    border-radius: 50%;
    background: rgb(218, 218, 8);
    color: white;
    padding: 3px;
}

.fa-arrow-right-long {
    border-radius: 50%;
    background: black;
    border: 1px solid white;
    color: white;
    margin-left: 4px;
    padding: 6px;
    position: absolute;
    transform: rotate(-45deg);
}

.contact-sales {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 1em;
    padding: 12px 20px;
    border-radius: 24px;
    border: 1px solid white;
    background: transparent;
    color: white;
}

.no-credit-card {
    display: flex;
}

.no-credit-card p {
    padding: 1em;
}

.sponsors {
    background: black;
    color: beige;
    padding: 30px 0;
}

.sponsors ul {
    display: flex;
    justify-content: space-evenly;
    padding: .8rem;
    padding-bottom: .9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.front-photos {
    display: flex;
    width: 100%;
    height: 75vh;
    overflow-x: hidden;

}

.guy-holding-pc {
    width: 90%;
    height: auto;
}

.photo-savings {
    margin: 30px;
    margin-bottom: 0;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    position: relative;
    left: 150px;
    top: 40px;
}

.second-section {
    background: white;
    color: black;
    padding: 24px;
}

.second-section>h1 {
    text-align: center;
}

.operations-card {
    background: linear-gradient(260deg, rgb(235, 149, 128), rgb(98, 98, 247) 10%, rgb(93, 93, 240), rgb(97, 97, 250), rgb(96, 96, 247), rgb(151, 156, 248));
    border: none;
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: space-around;
    grid-area: one;
    margin: 7.5%;
    margin-bottom: 0;
}

.insights {
    width: 40%;
    margin: 4em;
}

.insights h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2em;
    line-height: 3rem;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
}

.insights p {
    color: rgb(254, 254, 255);
}

.sales {
    background: white;
    color: black;
    border: none;
    border-radius: 12px;
    grid-area: trams;
    width: 74%;
    padding: 1rem;
    position: relative;
    left: 17%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.days {
    margin-left: 35px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    color: grey;
}

td {
    color: grey;
}

.deals-won {
    background: white;
    color: black;
    border: none;
    border-radius: 12px;
    grid-area: deals;
    width: 85%;
    position: relative;
    left: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.deals-won p {
    width: 200px;
    padding: 8px auto;
    margin: 1rem;
}

.deals-won h1 {
    padding: 8px auto;
    margin-left: 1rem;
}

.fa-thumbs-up {
    border: 1px solid rgb(208, 208, 252);
    border-radius: 10px;
    padding: 8px;
    margin: 1rem;
    background: rgb(212, 218, 247);
}

.task-remaining {
    background: white;
    color: black;
    border: none;
    border-radius: 12px;
    grid-area: task;
    width: 67%;
    position: relative;
    left: 18%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task-remaining p {
    padding: 1rem;
}

.wave-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

svg {
    position: relative;
    top: 10px;
    width: 400px;
    fill: none;
    stroke: rgb(0, 0, 255);
    stroke-width: 2;
}

.elipsis {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}

.free-start-black {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 24px;
    border: none;
    background: black;
    color: white;
    position: relative;
    margin-right: 20px;
    margin-top: 24px;
}

.white-arrow {
    border: 1px solid black;
    border-radius: 50%;
    background: white;
    color: black;
    margin-left: 4px;
    padding: 6px;
    position: absolute;
    transform: rotate(-45deg);
}

.edit-workflow-card {
    grid-area: two;
    width: auto;
    margin-left: 15%;
    border: none;
    color: white;
    text-align: center;
    border-radius: 12px;
    padding: 24px;
    background: linear-gradient(260deg, rgb(235, 149, 128), rgb(98, 98, 247) 10%, rgb(93, 93, 240), rgb(97, 97, 250), rgb(96, 96, 247), rgb(151, 156, 248));
}

.workflow {
    width: 95%;
    border: none;
    border-radius: 8px;
    margin: 12px auto;
    height: 65%;
    padding: 12px;
    background: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.save-btn {
    background: rgb(236, 234, 234);
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.edit-save {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.trigger-div {
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    border: none;
    border-radius: 8px;
    padding: .5em;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.automate-btn {
    padding: .1em .6em;
    border: none;
    border-radius: 5px;
}

.fa-arrow-up {
    border: none;
    padding: 3px;
    border-radius: 5px;
    transform: rotate(180deg);
    margin: .2em 13em;
    background: rgb(236, 235, 235);
    color: blue;
}

.fa-bolt {
    border: 1px solid white;
    border-radius: 50%;
    background: white;
    color: blue;
    padding: 2px;
}

.assign-div {
    background-color: rgb(230, 225, 225);
    border: none;
    border-radius: 8px;
    padding: .5em;
    text-align: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fa-user {
    border: none;
    border-radius: 50%;
    background: blueviolet;
    padding: 4px;
}

.wait2days-btn {
    padding: .1em .2em;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    margin-right: .8em;
}

.call {
    display: flex;
    justify-content: space-between;
    background-color: rgb(190, 245, 39);
    border: none;
    border-radius: 8px;
    padding: .5em;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.demo-intro {
    font-size: 12px;
    color: rgb(102, 100, 100);
}

.demo-approval {
    width: 100%;
    display: flex;
    padding: 2em;
    padding-right: 0;
    margin: 12px auto;
    justify-content: space-around;
}

.demo-completed-div {
    padding: 1rem 0;
    margin: 12px auto;
}

.email-div {
    background-color: rgb(230, 225, 225);
    color: black;
}

.streamline {
    padding: 1em 3em;
}

.streamline>p {
    padding: 1.5em 0;
    color: rgb(216, 214, 214);
    font-size: 16px;
}

.sales-pipes {
    text-align: center;
    color: white;
    width: auto;
    grid-area: three;
    border: none;
    border-radius: 12px;
    padding: 24px;
    margin-right: 15%;
    background: linear-gradient(260deg, rgb(235, 149, 128), rgb(98, 98, 247) 10%, rgb(93, 93, 240), rgb(97, 97, 250), rgb(96, 96, 247), rgb(151, 156, 248));
}

.pipes {
    width: 95%;
    margin: 12px auto;
    border: none;
    border-radius: 12px;
    background: white;
    color: black;
    padding: 12px;
    height: 65%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pipes-div {
    display: flex;
    justify-content: space-between;
}

.pipes-btn button {
    border: none;
    border-radius: 8px;
    padding: .1em 1em;
    font-weight: 500;
    font-size: 12px;
}

.annual-value {
    display: flex;
    font-weight: 200;
    font-size: 14px;
    gap: 2em;
}

.passport-img {
    width: 45px;
    height: auto;
    border-radius: 50%;
}

.monthly-passport {
    padding: 1em;
    display: flex;
    gap: 1em;
}

.monthly-passport p {
    font-size: 12px;
}

.voxels {
    background: rgb(3, 3, 124);
    color: white;
    width: 70%;
    border-radius: 8px;
    border: none;
    padding: 12px;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.voxels h4 {
    border-bottom: 1px solid rgb(221, 219, 219);
}

.volkswagen {
    background: rgb(246, 246, 247);
    color: black;
    width: 70%;
    border-radius: 8px;
    border: none;
    padding: 12px;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.volkswagen h4 {
    border-bottom: 1px solid rgb(34, 33, 33);
}

.cards-section-two {
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-areas:
        'one one'
        'two three';
}

.grid-cards-operations {
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
        'trams trams trams'
        'deals task task';
    margin: 4rem;
    margin-right: 0;
}

.stacks-section {
    padding: 2rem;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.connect {
    width: 45%;
    padding: 15rem 2rem;
}

.stacks-section img {
    width: 45%;
    height: auto;
}

.connect p {
    width: 90%;
}

.need-help {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-right: 1rem;
}

.need-help p {
    color: rgb(254, 254, 255);
}

.need-help div {
    margin-top: 10%;
}

.meet-our-customers {
    width: 85%;
    display: flex;
    gap: 2rem;
    margin-left: 10%;
}

.ryan-qoute {
    width: 65%;
    border: none;
    background: rgb(215, 215, 228);
    border-radius: 18px;
    padding: 3rem;
}

.cactusc ul {
    color: rgb(153, 151, 151);
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    height: 5rem;
    margin-top: 2rem;
    padding: 3rem 0;
    padding-bottom: 4rem;
    border-top: 1px solid rgb(207, 203, 203);
}

.get-you-growing {
    text-align: center;
    background: linear-gradient(260deg, rgb(235, 149, 128) 10%, rgb(41, 41, 233), rgb(64, 64, 241), rgb(64, 64, 224), rgb(39, 39, 243), rgb(168, 173, 255));
    color: white;
    padding: 5rem;
}

.get-you-growing img {
    border-radius: 25px;
}

.free-start-bottom {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 24px;
    border: none;
    background: white;
    color: black;
    position: relative;
    margin-right: 20px;
}

.contact-sales-bottom {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 1em;
    padding: 12px 20px;
    border-radius: 24px;
    border: 1px solid white;
    background: transparent;
    color: white;
}

.no-credit-card-bottom {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.crisme-section,
footer {
    background: rgb(0, 0, 32);
    color: white;
}

.crisme-section {
    padding: 5rem;
    padding-bottom: 2rem;
}

footer {
    padding: 2rem 5rem;
    padding-top: 1rem;
}

.crisme-today {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    margin-top: 0;
    border-bottom: 1px solid white;
    padding: 3rem 0;
}

.platform-container {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    background: rgb(40, 40, 71);
    margin: 0 2rem;
    padding: 1.3rem 1.5rem;
    border-radius: 18px;
}

footer ul {
    display: flex;
    gap: 1.5rem;
}